.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.submit-button {
  padding: 0.75rem 1.5rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.contact-form {
  padding: 2rem 8rem;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 2rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}

.contact-form h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #ffffff; /* Set a clean white background */
  color: #333; /* Set text color to a readable dark gray */
  transition: border-color 0.3s, background-color 0.3s;
}

.contact-form button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}


.contact-form button:hover {
  background-color: #003d80;
}

.map {
  width: 100%;
  cursor: pointer;
}

.map:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}